{
    "presets": ["es2015", "react"],
    "plugins": ["transform-object-rest-spread"],
    "env": {
        "dev": {
            "plugins": [
                ["css-modules-transform", { "extensions": [".css"] }]
            ]
        }
    }
}