{
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "eslint-plugin-react"
    ],
    "rules": {
        "indent": ["warn", 4],
        "react/jsx-indent": ["warn", 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    },
    "extends": "airbnb"
}
