{
    "env": {
        "browser": true,
        "node": true
    },
    "plugins": [
        "eslint-plugin-react"
    ],
    "rules": {
        "indent": ["warn", 4],
        "max-len": ["warn", 150],
        "no-unused-expressions":["off", { "extensions": [".js", ".jsx"] }],
        "react/jsx-indent": ["warn", 4],
        "react/jsx-indent-props": ["warn", 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    },
    "extends": "airbnb"
}
